################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/oefen project/.vs/oefen project
/oefen project/server/bin
/oefen project/server/node_modules
/oefen project/server/obj
